# Docker Project Name (Prevents container name conflicts)
COMPOSE_PROJECT_NAME=virtual-events

NODE_ENV=development

# Ports
PORT=5000
HOST_PORT_BACKEND=5000
HOST_PORT_MONGO=27017

# Database
MONGO_URI=mongodb://mongo:27017/virtual-events

# JWT Secrets (Replace in your local .env)
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

# OAuth Credentials (Replace in your local .env)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# AWS SQS Config (LocalStack)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://aws:4566
SQS_TICKET_EXPIRATION_QUEUE_URL=http://aws:4566/000000000000/TicketReleaseQueue

# Safepay Config (Fake for testing)
SAFEPAY_ENVIRONMENT=sandbox
SAFEPAY_API_KEY=your_safepay_api_key
SAFEPAY_WEBHOOK_SECRET=your_safepay_webhook_secret

# To create queue in LocalStack
# docker exec virtual-events-aws awslocal sqs create-queue --queue-name TicketReleaseQueue